n8n/2-calendar-to-supabase.json
{
  "name": "2 · Calendar → Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "c_f979592b365d14fbdf2f3a57c0c4d2b4854979e6bfc0160c1edfc27bed10b050@group.calendar.google.com",
        "returnAll": false,
        "limit": 100,
        "options": {
          "timeMin": "={{ $now.minus({ days: 1 }).toISO() }}",
          "timeMax": "={{ $now.plus({ days: 60 }).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const event = $input.item.json;\n\n// Extract meeting/video link\nlet meetingLink = null;\nif (event.hangoutLink) {\n  meetingLink = event.hangoutLink;\n} else if (event.conferenceData && event.conferenceData.entryPoints) {\n  const videoEntry = event.conferenceData.entryPoints.find(\n    (e) => e.entryPointType === 'video'\n  );\n  if (videoEntry) meetingLink = videoEntry.uri;\n}\n\n// Extract attendee emails (exclude rooms/resources)\nconst attendees = (event.attendees || [])\n  .filter((a) => !a.resource)\n  .map((a) => a.email);\n\n// Normalise times\nconst startTime = event.start?.dateTime || event.start?.date;\nconst endTime   = event.end?.dateTime   || event.end?.date;\n\n// Pre-build the JSON body string for the HTTP Request node\nconst meetingBody = JSON.stringify({\n  event_id:     event.id,\n  title:        event.summary || '(No title)',\n  start_time:   startTime,\n  end_time:     endTime,\n  attendees:    attendees,\n  meeting_link: meetingLink,\n});\n\nreturn {\n  json: {\n    _meetingBody: meetingBody,\n  }\n};"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Prepare Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jupkvwohkgfulwjcdhis.supabase.co/rest/v1/meetings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_YOUR_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_YOUR_SERVICE_ROLE_KEY"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._meetingBody }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Upsert Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [{ "node": "Get Calendar Events", "type": "main", "index": 0 }]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [{ "node": "Prepare Event",        "type": "main", "index": 0 }]
      ]
    },
    "Prepare Event": {
      "main": [
        [{ "node": "Upsert Meeting",       "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "agent-ivory-crm"
  }
}
